{{ define "main" }}


 {{ "<!-- introduction -->" | safeHTML }}
 <section class="section">
   <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 ">
          <!--<h2 class="section-title text-left"> About openMSE</h2> -->
          {{with .Site.Params.intro_text | safeHTML }}<h3>{{. | markdownify}}</h3>{{end}}
        </div>
      </div>
   </div>
  {{ "<!-- /introduction -->" | safeHTML }}


 <section class="section">
  {{ "<!-- Welcome --> " | safeHTML }}

   <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h2 class="section-title" id="welcome">{{ i18n "welcome" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "welcome") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            {{ with .Params.icon}}<i class="{{.}} icon text-primary d-block mb-4"></i>{{end}}
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{end}}
          </a>
        </div>
        {{ end }}
      </div>
   </div>
  {{ "<!-- /Welcome --> " | safeHTML }}

  {{ "<!-- Use-Cases --> " | safeHTML }}

   <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h2 class="section-title" id="use-cases">{{ i18n "use-cases" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "use-cases") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            {{ with .Params.icon}}<i class="{{.}} icon text-primary d-block mb-4"></i>{{end}}
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{end}}
          </a>
        </div>
        {{ end }}
      </div>
   </div>

  {{ "<!-- /Use-Cases --> " | safeHTML }}


  {{ "<!-- Objects --> " | safeHTML }}
   <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h2 class="section-title" id="objects">{{ i18n "objects" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "objects") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            {{ with .Params.icon}}<i class="{{.}} icon text-primary d-block mb-4"></i>{{end}}
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{end}}
          </a>
        </div>
        {{ end }}
      </div>
   </div>
  {{ "<!-- /Objects --> " | safeHTML }}


{{ "<!-- Functions --> " | safeHTML }}

   <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h2 class="section-title" id="features">{{ i18n "features" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "features") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            {{ with .Params.icon}}<i class="{{.}} icon text-primary d-block mb-4"></i>{{end}}
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{end}}
          </a>
        </div>
        {{ end }}
      </div>
   </div>

  {{ "<!-- /Functions --> " | safeHTML }}


{{ "<!-- Documentation --> " | safeHTML }}

   <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h2 class="section-title" id="tutorials">{{ i18n "tutorials" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "tutorials") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            {{ with .Params.icon}}<i class="{{.}} icon text-primary d-block mb-4"></i>{{end}}
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{end}}
          </a>
        </div>
        {{ end }}
      </div>
   </div>

  {{ "<!-- /Documentation --> " | safeHTML }}
</section>


  {{ if .Site.Params.cta.enable }}
  {{ with .Site.Params.cta }}
  {{ "<!-- call to action -->" | safeHTML }}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section px-3 bg-white shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}
  {{ end }}

{{ end }}

